<div class="relative w-32 h-32 rounded-full overflow-hidden group shadow-md">
  <img
    [src]="imageUrl() || defaultAvatar"
    alt="Foto de perfil"
    class="w-full h-full object-cover"
  />

  <!-- Overlay de edición -->
  <!-- add a pencil icon that can be seen by the user to click on the image and trigger triggerFileInput function -->
  <div
    class="absolute inset-0 bg-gray-300 bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer"
    (click)="fileInput.click()"
  >
    <fa-icon [icon]="faPencilAlt" class="text-white"></fa-icon>
  </div>
  
  <!-- Input de archivo oculto -->
  <input
    #fileInput
    type="file"
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />
</div>
