<div class="w-32">
  <div class="h-32 rounded-full shadow-md overflow-hidden">
    <img
      [src]="imageUrl() || defaultAvatar"
      alt="Foto de perfil"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- EDIT BUTTON -->
  <div
    class="inset-0 flex items-center justify-center mt-3"
    (click)="fileInput.click()"
  >
    <fa-icon [icon]="faPencilAlt" class="text-gray-500"></fa-icon>
  </div>

  <input
    #fileInput
    type="file"
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />
</div>
